<div class="logo">
    <img src="../../assets/logo.png" alt="">
</div>
<div class="card">
    <h1 class="">Sign in</h1>
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <!-- <h5>Email or mobile phone number</h5> -->
        <!-- <input type="text" formControlName="email"> -->


        <div class="form-group" [ngClass]="{'has-error': signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty || signInForm.get('email')?.touched)}">
            <label for="email" class="form-label"><h5>Email or mobile phone number</h5></label>
            <input type="text" class="form-control" id="email" formControlName="email">
            <div *ngIf="signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty || signInForm.get('email')?.touched)">
            <div *ngIf="signInForm.get('email')?.errors?.['required']" class="alarm">Enter your email or mobile phone number</div>
              <div *ngIf="signInForm.get('email')?.errors?.['email']" class="alarm">Invalid email format</div>
            </div>
          </div>
         
          
        <div class="form-group" [ngClass]="{'has-error': signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)}">
            <label for="password" class="form-label"><h5>Password</h5></label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)">
                <div *ngIf="signInForm.get('password')?.errors?.['required']" class="alarm">Enter your password</div>
            </div>
        </div>
        <button type="submit" [disabled]="signInForm.invalid">Continue</button>
            </form>
        <p>By signing in, you agree to Amazon's <a href="#">Conditions of Use</a> and <a href="#">Privacy Notice</a>.</p>
        <a href="#" class="icon">Need help?</a>
    </div>
    <div class="breck">
         <p>New to Amazon?</p>
    </div>
 
    <footer>
        <div class="links">
            <a href="#">Conditions of Use</a>
            <a href="#">Privacy Notice</a>
            <a href="#">Help</a>
        </div>
        <p>&#169;1996–2023, Amazon.com, Inc. or its affiliates</p>
    </footer>
    