// .chart-container {
//     padding: 20px;
//     margin-top: 3rem;
//   }
//   .title {
//     padding: 20px;
//     padding-bottom: 5px;
//     text-align: center;
//     color: #333333;
//     font-size: 18px;
//     font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
//       sans-serif;
//   }


.chart-container {
  padding: 1.25rem;
  margin-top: 3rem;
  
}

.title {
  padding: 1.25rem;
  padding-bottom: 0.3125rem;
  text-align: center;
  color: #333333;
  font-size: 1.125rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
