// .chart-container {
//     padding: 10px;
//   transform:scale(.6);
// padding-top: 5px;
//   }
//   .title {
//     padding: 20px;
//     padding-bottom: 5px;
//     text-align: center;
//     color: #333333;
//     font-size: 18px;
//     font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
//       sans-serif;
//   }
.chart-container {
  padding: 0.625rem;
  
  transform: scale(0.7);
  padding-top: 0.3125rem;
}

.title {
  padding: 1.25rem;
  padding-bottom: 0.3125rem;
  text-align: center;
  color: #333333;
  font-size: 1.125rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}