.title {
  padding: 1.25rem;
  padding-bottom: 0.1rem;
  text-align: center;
  color: #333333;
  font-size: 1.125rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.chart-container{
  transform: scaleY(.5);

}